* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #00ccff;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.all-pots {
    text-align: center;
    padding: 2rem 1rem;
}

.all-pots h1 {
    margin-block: 0.67em;
    font-size: 2em;
}

.all-pots img {
    max-width: 100%;
    height: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
}

.card h2, .card p {
    padding: 1rem;
}

footer {
    background-color: #00ccff;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

@media screen and (max-width: 449px){
    nav ul {
	flex-direction: column;
	text-align: center;
    }
}

@media screen and (min-width: 768px){
    .cards {
        flex-direction: row;
        align-items: center;
    }
}
